@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: aqua; */
}

body{
   height: 100vh;
  width: 100vw;
}

:root{
  background-color: #F5F5FF;
  /* height: 100vh;
  width: 100vw; */
}

.nav{
  color: #3C3C3C;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  cursor: pointer;
  /* line-height: normal; */
   /* width: 112px;  */
  /* height: 36px;  */
}

.nav:hover{
  color: white;
  background-color: #0038FF;
  display: flex;
  /* width: 112px;  */
  /* height: 60px;  */
  align-items: center;
  justify-content: center;
  gap: 10;
  cursor: pointer;
  border-radius: 33px;
  transition: all 0.3s ease; 
} 


.mainav{
  color: #000;
font-family: "Sansita Swashed";
font-size: 25px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 25px */
cursor: pointer;
}

.homeh{
  width: 300px;
height: 150px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 50px */
  margin-bottom: 10px;
}

.homeir{
  width: 130px;
  background-color: #FF00B8;;
flex-shrink: 0;
color: #FFF;
border-radius: 8px; 
}

.homep{
  color: #2E2E2E;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 160% */
   width: 331px;
height: 351px; 
}

.headings{
  /* color: #000;
font-family: "Sansita Swashed";
font-size: 70px;
font-style: normal;
font-weight: 800;
line-height: 100%; */
}


.cardimg {
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 30px;
  background-color: lightgray;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.price{
  color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 15px */
display: flex;
width: 100px;
height: 25px;
padding: 5px 13px;
align-items: flex-start;
gap: 10px;
flex-shrink: 0;
background: linear-gradient(90deg, rgba(255, 255, 255, 0.50) 290.5%, rgba(255, 255, 255, 0.50) 290.5%);
backdrop-filter: blur(2px);
}

.cardheading{
  color: #000;
/* font-family: "Sansita Swashed"; */
font-size: 20px;
font-style: normal;
font-weight: 800;
line-height: 100%; /* 20px */
}

.cardes{
  color: #222;
/* font-family: Inter; */
font-size: 15px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 15px */
}

.paintinginfo{
  color: #222;
/* font-family: "Cormorant Upright"; */
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 15px */
}

.btnn{
  display: flex;
width: 81px;
height: 28px;
padding: 7px 15px;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: 4px;
background-color: #000;
color: #FFF;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 12px */
}

.btnMain{
  display: flex;
width: 77px;
height: 30px;
/* padding: 14px 41px; */
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: #fff;
color: #000;
font-family: "Sansita Swashed";
font-size: 12px;
font-style: normal;
font-weight: 700;
line-height: 100%; /* 12px */
/* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.8);
transition: all 0.4s ease; /* Smooth transition */

}

/* .btnMain:hover{
  background-color: #000;
  color: #fff;
} */

.btnMain:active {
 
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.8); /* Reduce shadow to simulate press */
  transform: translateY(3px); /* Move button down slightly */
}

.featureBlue{
  width: 430px;
height: 377px;
background: #DCE8FF;
}



.art{
  color: #000;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 20px */
}

.artd{
  color: #000;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 20px */
cursor: pointer;
}

.artd:hover{
  color: #0038FF;
  cursor: pointer;
}

.artawaken{
  color: #000;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: 100%; /* 45px */
}

.nav-item {
  @apply text-gray-800 hover:text-gray-600 transition duration-300;
}

/* Footer*/

.fooP{
  color: #0E0E0E;
font-family: "Cormorant Upright";
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 10px */
}

.fooP:hover{
  color: #0038FF;
}

.fooH{
  color: #000;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: 100%; /* 16px */
margin-bottom: 6px;
}


.instyle, .signupBtn{
  padding: 1rem;
  border: none;
  border-radius: 10px;
  font-size: "Inter";
}


.signupBtn{
  background-color: #000;
  color: #FFF;
}