*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card{
  display: flex;
width: 120px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 28px;
}

.img{
  height: 150px;
align-self: stretch;
border-radius: 10px;
background: lightgray 50%, cover no-repeat;
}

.cardItems{
  height: 76px;
align-self: stretch;
}

.heading{
  color: #000;
/* font-family: "Sansita Swashed"; */
font-size: 16px;
font-style: normal;
font-weight: 800;
line-height: 100%; /* 16px */
}

.name{
  color: #222;
font-family: Inter;
/* font-size: 10px; */
font-style: normal;
font-weight: 500;
line-height: 100%; /* 10px */
}

.cate{
  color: #3C3C3C;
 font-family: "Cormorant Upright";
/* font-size: 10px; */
font-style: normal;
font-weight: 500;
line-height: normal;
}

.btnn{
  color: #3C3C3C;
font-family: "Cormorant Upright";
font-size: 10px;
font-style: normal;
font-weight: 500;
line-height: normal;
}

.btnText{
  color: #FFF;
font-family: Inter;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 100%; /* 12px */
}

.year{
  display: flex;
  border-radius: 30px;
background: #FFF;
/* width: 1151px;
height: 445px; */
padding: 45px 112px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
}

.yearItem{
  display: flex;
align-items: center;
gap: 50px;
align-self: stretch;
}